<!-- welcome-screen.component.html -->
<div class="welcome-container">

  <nav class="navbar">
    <div class="nav-left">
      <span class="bank-name">Easy-Way Bank</span>
      <a routerLink="/aboutus">ABOUT US</a>
      <a routerLink="/contactus">CONTACT US</a>
      
    </div>
  </nav>

  <!-- ✅ Main Content Section -->
  <div class="text-section">
    <h1>Wel Come to Easy-Way Bank</h1>
    <h3>Flexible Banking Solutions</h3>
    <p>
      "Manage your money anytime, anywhere."
    </p>
    <div class="buttons">
      <button class="register-btn" routerLink="/register">Register</button>
      <button class="login-btn" routerLink="/login">Login</button>
    </div>
  </div>

  <!-- ✅ Illustration Section -->
  <div class="image-section">
    <img src="/bankimg.jpg" alt= />
  </div>

</div>
