.login-container {
  // background: linear-gradient(to bottom right, #0a0f2c, #2b3c6b, #4682b4); /* Dark to light blue gradient */
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('/bankimg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.form-box {
  background: rgba(0, 0, 0, 0.17);
  /* Slightly less transparent for better contrast */
  padding: 40px;
  padding-right: 65px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 8px 20px rgba(196, 214, 199, 0.4);
  backdrop-filter: blur(8px);
}

h2 {
  text-align: center;
  color: #0d6efd;
  /* Bootstrap blue */
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
}

.login-btn {
  width: 107%;
  padding: 14px;
  background-color: #0d6efd;
  /* Bright blue like login button */
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #0b5ed7;
}

.register-link {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: white;
}

.register-link a {
  color: #0d6efd;
  /* Green for 'Register' link */
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

.back-link {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  color: #0d6efd;
  text-decoration: none;
}